/* Table of Contents
1. Imports
2. General Rules
3. Mobile Rules
    3a. Franklin, ID Title
    3b. Temperature
    3c. Wind
    3d. Clear
    3e. Hourly Forecast
    3f. Footer
    3g. Navigation
4. Large Screen Rules

*/

/* 1. Imports */
@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

@import url('normalize.css');


/* 2. General */
body {
    font-size: 20px;
    font-family: helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Sansita, sans-serif;
}

main {
    margin-left: 10px;
    margin-right: 10px;
}

section {
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* 3. Mobile Rules */
#page-header {
    background-color: blue;
}

#header-title {
    font-size: 2em;
}

    /*3a. Franklin, Idaho*/

#franklin-idaho {
    border: none;
}

    /*3b. Temperature*/
#temp, #high-low, #feels-like {
    text-align: center;
}

#actual-temp {
    text-align: center;
    font-size: 3em;
}

#high {
    color: red;
}

#low {
    color: blue;
}

    /*3c. Wind*/
#wind, #direction, #gusts {
    text-align: center;
}

#wind-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    /*3d. Clear*/

#clear-title {
    text-align: center;
}

    /*3e. Hourly Forecast*/

#forecast-title {
    text-align: center;
}