@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;;
}

table {
    box-shadow: 5px 5px 6px #628ca6;
}

table, tr, th, td {
    border: 1px solid #7fb9c2;
    border-collapse: collapse;
    padding: 5px;
}

table {
    box-shadow: grey;
}

th {
    background-color: #628ca6;
    color: white;
}

/* [] - targets all the th tags that have the attribute "colspan="3" */
th[colspan="3"] {
    background-color: #7fb9c2;
    color: black;
    font-size: 1.5em;
}

td[colspan="1"] {
    background-color: #628ca6;
}

tbody tr {
    background-color: #e7ffed;
}

tbody tr:nth-child(odd) { 
    background-color: #e7f0ed;
}

tfoot {
    font-size: .7em;
    font-weight: bold;;
    background-color: #7fb9c2;
}











