@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@400;700&display=swap');

body {
    background-color: #EFF6EE;
    font-family: sans-serif;
}

h1, h2, h3, p {
    font-family: 'Mukta+Vaani', 'sans-serif';
}

header {
    background-color: #2F4858;
    padding: 1em;
    color: #EFF6EE;
}

header h2 {
    color: #EFF6EE;
}

section {
    margin: 3.5em;
    border: solid 3px #2F4858;
    border-radius: 30px;
    padding: 20px;
}

h2 {
    color: #F26419;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
}