@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700&display=swap');

main {
    margin: 0 5em 0 5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin Condensed';
    font-weight: 700;
}

p, ul {
    font-family: 'Cabin Condensed';
}

header {
    background-color: #212026;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em 0 2em 0;
    list-style: none;
    font-family: 'Cabin Condensed';
    font-weight: 700;
}

.active {
    color: #f2e313;
}

li a {
    text-decoration: none;
    color: #a3b4bf;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 200px;
}

li a:hover {
    color: #f2e313;
}


/* TARGET AUDIENCE STYLES */
.persona {
    width: 500px;
    border-radius: 20px;
    border: solid 3px #212026;
    display: block;
    margin: 0 auto;
}


/* COLOR SCHEME STYLES */
.background-color {
    width: 200px;
    height: 200px;
    background-color: #212026;
}

.color-title {
    text-align: center;
}

.header-color {
    width: 200px;
    height: 200px;
    background-color: #f2e313;
}

.other-color {
    width: 200px;
    height: 200px;
    background-color: #a3b4bf;
}

.hex-colors {
    display: flex;
    justify-content: space-evenly;
}

.hex-colors p {
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.background-color p {
    color: antiquewhite;
}

.bckgrnd {
    background-color: #212026;
}

.bckgrnd div {
    margin: .5em 5em 0 5em;
    padding: 1em 0 1em 0;
}

.bckgrnd h2 {
    color: #f2e313;
}

.bckgrnd p {
    color: #a3b4bf;
}
/* Color Theme Swatches in Hex */
.-Redesign-1-hex { color: #212026; }
.-Redesign-2-hex { color: #a3b4bf; }
.-Redesign-4-hex { color: #f2e313; }

/* TYPOGRAPHY STYLES */
.font {
    font-size: 4em;
}

.type {
    font-weight: 400;
}