@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

main{
    max-width: 400px;
    margin: 0 auto;
}

header {
    background-color: #00798c;
    display: flex;
    align-items: center;
    justify-content: center;
}
header img {
    width: 60px;
    padding-right: 10px;
    
}

h1, h2 {
    font-family: Merriweather;
}

p {
    font-family: Heebo;
}

article {
    border: 1px black solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

article p {
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 40px;
    color: #a6e1fa;
    padding-left: 10px;
}

h2 {
    font-size: 22px;
    text-align: center;
}

/* ------ Navigation Styles ------ */

nav {
    background-color: /*#00798c*/ white;
    margin-top: -5px;
    border-top: 3px #00798c solid;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    padding-bottom: 8px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    color: #00798c;
    text-decoration: none;
    font-family: Heebo;
    font-size: 18px;
    padding: 0.75rem;
}

.navigation a:hover {
    color: black;
    text-decoration: underline;
    transition-duration: 1s;
}

table, td, th {
    border: 1px solid black;
}

#forecast {
    display: none; 
}

#frame {
    display: none;
}

.hidden {
    display: none;
}

/* ----- Weather Summary Styles ------ */

.hero-div {
    margin: 0 auto;
}

/* ----- Footer styles ----- */

footer {
    background-color: #00798c;
    padding: 10px 0 10px 0;
}

footer span, footer p {
    color: #a6e1fa;
    text-align: center;
    font-family: Heebo;
}

/* ----- onclick JS toggle class style ----- */
.responsive li {
    display: block;
}

