@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,700&display=swap');

/* ------- MAIN STYLES --------*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin Condensed';
    color: #F2E313;
}

ul, p {
    font-family: 'Cabin Condensed';
    color: #A3B4BF;
}

body {
    background-color: #212026;
    font-family: 'Cabin Condensed';
}

/* ------- HEADER STYLES -------*/
header {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 20px;
    color: #F2E313;
}

header h1 {
    text-align: center;
    font-size: 3em;
}

header img {
    width: 150px;
    display: block;
    margin: auto;
}

/* -------- BODY STYLES ----------*/
main {
    margin: 0 auto;
    max-width: 85%;
}

.title {
    text-align: center;
}

/* -------- NAVIGATION STYLES --------*/

nav {
    border-bottom: 2px solid #F2E313;
    margin: 0 auto;
    max-width: 90%
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

#active {
    color: #F2E313;
}

.navigation a {
    display: block;
    color: #A3B4BF;
    padding: 0.75rem;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #F2E313;
    font-weight: 900;
}

/* JS Toggle */

.responsive li {
    display: block;
}

/* ------------- HERO IMAGE STYLES ------------ */

.hero-div {
    position: relative;
}

.hero-div img {
    width: 100%;
    margin: 10px auto;
}

.hero-image {
    margin: 10px auto;
    width: 95%;
    height: 200px;
    padding-top: 0px;
}

.weather-summary {
    position: absolute;
    top: 80px;
    left: 50px;
    padding: 0px 10px 0px 10px;
    background-color: #A3B4BF;
}

.hero-large {
    display: none;
}

.weather-summary p {
    color: #212026;
}

/* -------- 5 DAY FORECAST --------- */

.forecast {
    display: none;
}

/* -------- ARTICLE STYLES ----------- */

.article {
    margin-top: 1em;
}

.article img {
    width: 100%;
    border-radius: 10px;
}

#author {
    font-weight: bold;
    text-decoration: underline;
}

/* -------- CONTACT INFORMATION ----------- */

.contact-information {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 1em;
    border-top: solid 2px #F2E313;
    margin-top: 1em;
}

.contact {
    padding-left: 10px;
}

.bold {
    color: #F2E313;
    font-weight: bold;
}

iframe {
    display: none;
}

/* -------- FOOTER STYLES --------*/
footer {
    border-top: solid 2px #F2E313;
    max-width: 90%;
    margin: 0 auto;
}

footer p {
    text-align: center;
}