@media only screen and (min-width: 32.5em) {
    header, .current-weather, .contact-info, .site-footer {
        margin: 5em;
    }

    header {
        margin: 1em 5em;
    }

    .ham {
        display: none;
    }

    .nav li {
        display: block;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .summary {
        margin: 0 5em;
    }

    .centerB {
        bottom: -5px;
    }

    .site-footer {
        margin-bottom: 0;
    }

    .three-day {
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .three-day h2 {
        text-align: center;
        grid-column: 1/4;
    }

    .social-media {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .social-media h1 {
        grid-column: 1/3;
    }



    
}