ul {
    text-align: center;
    color: blue;
}

h1 {
    color: blue;
}
#largeimages {
    display: none;
}

@media screen and (min-width: 500px){
    #smallimages {
        display: none;
    }

    #largeimages {
        display: initial;
    }
}