ul {
    text-align: center;
    color: blue;
}

h1 {
    color: blue;
}
#large-images {
    display: none;
}



@media screen and (min-width: 500px){
    #small-images {
        display: none;
    }

    #large-images {
        display: initial;
    }
}