@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Lexend+Deca&display=swap');

body {
    font-family: 'Lexend Deca';
    background-color: #0C2659;
}

/* =========== Header Styles ============= */

header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #0C2659;
    color: #a3b4bf;
}

header h1 {
    padding: 10px;
}

header img {
    height: 100px;
    background-color: #a3b4bf;
    padding: 20px 10px;
    border-radius: 10px;
}

nav {
    background-color: #a3b4bf;
    padding: 10px 50px;
    margin-top: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    color: #0C2659;
}

nav a:link {
    color: #0C2659;
    text-decoration: none;
}

nav a:visited {
    color: #a3b4bf;
}

nav a:hover {
    color: #f2e313;
    font-weight: bold;
}

nav a:active {
    color: blue;
}

.active {
    color: #f2e313 !important;
}

/* ----HAMBURGER MENU STYLES---- */

.navigation li:first-child {
    display: block;
    text-decoration: underline;
}

.navigation li {
    display: none;
    padding: 3px 0;
}

.responsive li {
	display: block;
}

/* ========= End of Header Styles ============ */

/* ----BODY---- */

/* main {
    margin: 0 3em;
} */

.five-day-forecast {
    display: none;
}

.main-content {
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    background-color: white;
}

/* ======= Hero Image Styles ======= */

.preston {
    text-align: center;
    color: #a3b4bf;
}

.hero-image img {
    margin: 0 auto;
    width: 100%;
}

.herodiv {
    margin: 5px auto;
    position: relative;
}

.stats {
    position: absolute;
    top: 25px;
    right: 50px;
    background: radial-gradient(#eee, #a3b4bf);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
}

.stats p {
    margin: 3px 0;
}

/* ======= End Of Hero Image Styles ======= */

/* ----END OF STYLES---- */

footer {
    text-align: center;
    background-color: #0C2659;
    color: #a3b4bf;
    padding: 20px;
}

footer a {
    color: #a3b4bf;
    text-decoration: none;
}

footer div {
    text-align: left;
}