li {
    float: left;
    margin: 10px;
    list-style: none;
    padding-left: 0;
}

li a {
    text-decoration: none;
}

img {
    width: 40px;
}

body {
    margin-left: 100px;
    margin-right: 100px;
}